# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore sensitive Firebase config
firebase_service-account.json

# Ignore OS-specific files
.DS_Store
Thumbs.db
